<!-- <!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8"/>
	<meta name = "viewport" content = "width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="city.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">		
</head> -->
<!-- <body> -->
	<div id="city" ng-controller="cityController">
		<h6 class="chose-city"><a>自选城市</a></h6>
		<div class="city-hot">
			<ul>
				<li ng-repeat="name in hotCity.RspData.data.HotCityList track by $index"  ng-click = "getName(name.Name)"><a ui-sref="home">{{ name.Name }}</a></li>
			</ul>
		</div>
		<h6 class="all-city"><a> 全部城市(各城市所能选购的商品不同，请正确选择送达城市) </a></h6>
		<div  ng-repeat="($key,cs) in citys track by $index">
			<h6 class="city-Letter"><a>{{ $key }}</a></h6>
			<div class="city-Letter-defiter">
				<ul>
					<li ng-repeat="css in cs" ng-click = "getName(css.Name)"><a ui-sref="home">{{ css.Name }}</a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- 	<script type="text/javascript" src="../../lib/angular.min.js"></script>
	<script type="text/javascript" src="cityController.js"></script>
	<script type="text/javascript" src="cityService.js"></script>
</body>
</html> -->