@charset "utf-8";
html{
	font-size: 30.19px;
}
.chose-city{
	float: left;
	width: 100%;
	height:0.76rem;
	line-height: .76rem;
	text-indent: .3rem;
	background-color: #EEF5E9;
	
	font-weight: normal;
}
.city-hot{
	width: 100%;
}
.city-hot>ul{
	width: 100%;
	height: 100%;
	float: left;
	background-color: #EEF5E9;
}
.city-hot>ul>li{
	width: 33.33%;
	height: 0.93rem;
	float: left;
	padding: .3rem 0;
}
.city-hot>ul>li>a{
	border: 1px solid #ccc;
	margin-left: .4rem;
	float: left;
	height: .93rem;
	width: 60%;
	line-height: .93rem;
	text-align: center;
	background-color: #fff;
	color: #000;
}
.city-hot>ul>li>a:hover{
	background-color: #008842;
	text-decoration: none;
}
.all-city{
	float: left;
	width: 100%;
	height:0.76rem;
	line-height: .76rem;
	text-indent: .3rem;
	background-color: #EEF5E9;
	font-weight: normal;
}
.city-Letter{
	float: left;
	width: 100%;
	height:0.76rem;
	line-height: .76rem;
	text-indent: .3rem;
	background-color: #EEF5E9;
	font-weight: normal;
}
.city-Letter-defiter>ul{
	width: 100%;
	height: 100%;
	float: left;
}
.city-Letter-defiter>ul>li{
	width: 33.33%;
	height: 0.93rem;
	float: left;
	padding: .3rem 0;
}
.city-Letter-defiter>ul>li>a{
	margin-left: .4rem;
	float: left;
	height: .93rem;
	width: 60%;
	line-height: .93rem;
	color: #000;
	text-align: center;
}